@model List<WebBanSach.Models.Sach>
@{
    ViewBag.Title = "About";
}

<h3>SÁCH MỚI</h3>
@foreach (var item in Model)
{
    <div class="col-md-4">
        <div class="panel panel-default text-center">
            <div class="panel-body thumbnail">
                <a href="@Url.Action("Chitiet", new {id=item.MaSach })">
                    <img src="~/Bia_sach/@item.AnhBia" style="height:200px" />
                    <p style="font-weight:bold">
                        @item.TenSach
                    </p>
                </a>
            </div>
            <div class="panel-footer text-center">
                Giá bán: <span style="color:#ff0000;font-weight:bold">@Html.FormatValue(item.Dongia, "{0:#,##0} đồng")</span>
                <a class="btn btn-success" href="@Url.Action("Chitiet", new { id=item.MaSach})"> Chi tiết </a>
            </div>
        </div>
    </div>

}
